{{ define "main"}}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2 class="text-center">The Dreaded 404</h2>
            <p class="text-center text-serif fs-3">The page you requested does not exist.</p>
            <p class="text-center lead">Return to the <a href="{{ "/" | relURL }}">homepage</a>.
        </div>
    </div>
</div>
<div class="container mt-4 mb-4">
    <div class="row row-cols-4">
        <div class="col"><img class="img-fluid rounded" src="#" data-shuffle></div>
        <div class="col"><img class="img-fluid rounded" src="#" data-shuffle></div>
        <div class="col"><img class="img-fluid rounded" src="#" data-shuffle></div>
        <div class="col"><img class="img-fluid rounded" src="#" data-shuffle></div>
    </div>
</div>

{{ end }}
