{{ $dcimg := .Resources.GetMatch "dojocho-image.*" }}
{{ if not $dcimg }}
    {{ $dcimg = "https://picsum.photos/200/250"}}
{{ end }}
{{ $content := false }}
{{ with .Resources.GetMatch "dojocho.txt"}}
    {{ if .Content }}
    {{ $content = .Content }}
    <div class="container shadow mt-4 roundoff dojocho">
        <div class="row">
            <div class="col">
                <h1 class="dojocho text-center text-md-start">From the Dojo Cho</h1>
            </div>
        </div>
        <div class="row dojocho row-cols-1 row-cols-md-2 mt-2">
            <div class="col col-md-3 d-none d-md-block">
                <div class="text-center">
                    <img class="dojocho roundoff" src="{{ $dcimg }}" alt="Dojo Cho">
                </div>
            </div>
            <div class="col col-md-9">
                <img align=""class="dojocho roundoff float-start d-md-none mt-4 me-2 mb-2" src="{{ $dcimg }}" alt="Dojo Cho">
                <div class="dojocho content text-start mt-4 mt-md-0">
                {{ $content | markdownify }}
                </div>
                <div class="dojocho signature text-end mt-2">
                    <h3>Russ Alvey Sensei</h3>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
{{ end }}
{{ if $content }}
    {{ partial "social" . }}
    {{ partialCached "divider" . }}
{{ end }}