<head>
    {{ template "_internal/google_analytics.html" . }}
    
    {{ template "_internal/twitter_cards.html" . }}
    
    {{ template "_internal/opengraph.html" . }}
    
    <title>{{ .Title }} - {{.Site.Title}}</title>
    
    <meta charset="utf-8">
    <meta name="description" content="North Texas Aikido - Aikido on the Texas Prairie - Aikido for the Dallas Area" />
    <meta name="keywords" content="aikido,dojo,martial arts,exercise,health,fitness,dallas,plano,mckinney,texas,texas,dfw">
    <meta name="dc.relation" content="{{ .Site.BaseURL }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#1A94D2" />

    {{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}

    {{ $style := resources.Get "sass/main.scss" | toCSS  $options | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">
    
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    
    <link href="/fa5/css/all.css" rel="stylesheet"> <!--fontawesome load all styles -->
</head>