<div class="container mt-4">
    <div class="row align-items-center">
        <div class="col col-8 fs-3 fs-md-2">Follow the dojo's latest news and updates at Twitter and Facebook.</div>
        <div class="col text-center">
            <a class="clear button large me-2" href="https://twitter.com/North_TX_Aikido"><i class="fab fa-twitter fa-4x"></i></a>
            <a class="clear button secondary large ms-2" href="https://www.facebook.com/North-Texas-Aikido-169659183044254/"><i class="fab fa-facebook fa-4x"></i></a>
        </div>
    </div>
</div>
