<a name="news"></a>
{{ partialCached "divider" . }}
<div class="container mb-4">
    <div class="row align-items-center">
        <div class="col-12 mb-4">
            <h2>Latest News on Twitter</h2>
        </div>
        <div class="col-6">
            <a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/North_TX_Aikido?ref_src=twsrc%5Etfw">Tweets by North_TX_Aikido</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col">
            <p class="text-center"><a href="https://twitter.com/North_TX_Aikido"><i class="fab fa-twitter fa-4x"></i></a></p>
            <p class="fs-2">The latest news and events are always posted to our Twitter feed.</p>
        </div>
    </div>
</div>
