{{ define "main" }}

<div class="container mt-4">
  <div class="row">
    <div class="col">
      {{ .Content }}
    </div>
  </div>
  <hr/>
  <div class="container dojocho rounded mb-4 mt-4">
    <form class="row g-3 needs-validation" novalidate onsubmit="">
      <div class="col-md-4">
        <div class="form-outline">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="" required />
          <div class="invalid-feedback">Please provide your name.</div>
        </div>
      </div>
      
      
      <div class="col-md-4">
        <div class="form-outline">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" value="" required autocomplete="email"/>
          <div class="invalid-feedback">Please provide your email.</div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="form-outline">
          <label for="phone" class="form-label">Phone</label>
          <input type="tel" class="form-control" id="phone" name="phone" value="" required autocomplete="tel" pattern="^\\(?([0-9]{3})\\)?[-.\\s]?([0-9]{3})[-.\\s]?([0-9]{4})$"/>
          <div class="invalid-feedback">Please provide your phone number.</div>
        </div>
      </div>
      
      <div class="col-12">
        <div class="form-outline">
          <label for="comment" class="form-label">Comment or question</label>
          <textarea class="form-control" name="comment" id="comment" rows="5" required></textarea>
          <div class="invalid-feedback">Please provide a comment or question.</div>
        </div>
      </div>
      
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required />
          <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
          <div class="invalid-feedback">You must agree before submitting.</div>
        </div>
      </div>
      
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Send</button>
        <button class="btn btn-secondary" type="reset">Reset</button>
      </div>
    </form>
  </div>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
      'use strict';

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation');

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms).forEach((form) => {
        form.addEventListener('submit', (event) => {
          if (!form.checkValidity()) {
            console.log("INVALID");
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
        console.log("VALID");
      });
    })();
  </script>

  {{ end }}