// Link Styles
a {
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    transition: color 0.5s;
}

// Header Styles
h1,
h2,
h3 {
    letter-spacing: 0.5rem;
    font-variant: small-caps;
}

h1 {
    text-transform: uppercase;
}

h4,
h5,
h6 {
    letter-spacing: 0.25rem;
}

// Rounded styles
.roundedall {
    border-radius: 0.5rem;
}

.roundoff {
    border-radius: 0.5rem;
}

.roundoff-reversed {
    border-radius: 0.5rem;
}

@include media-breakpoint-up(md) {
    .roundedall {
        border-radius: 0.5rem;
    }

    .roundoff {
        border-radius: 0.5rem 1.5rem;
    }

    .roundoff-reversed {
        border-radius: 1.5rem 0.5rem;
    }
}


// Navbar Styles
.navbar.bg-dark {
    background-color: $nta-dark-blue !important;
}

ul>li.nav-item.dropdown>ul {
    background-color: $nta-blue !important;
}

ul>li.nav-item.dropdown>ul>li>a {
    color: green !important;
}

.navbar-brand>img {
    height: 24px;
    width: auto;
}

a.navbar-brand {
    transition: text-shadow 0.5s;
}

a.navbar-brand:hover {
    transition: text-shadow 0.5s;
    text-shadow: 0px 0px 5px $white;
}

// Cover Image Styles
// On small screens, fill screen
#cover {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
}

#covermon {
    width: 50vw;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#covertitle {
    width: 90vw;
    height: auto;
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, 0);
    text-align: center;
    background: $white;
    background: linear-gradient(90deg, rgba($nta-brown, 0) 0%, rgba($nta-brown, 1) 50%, rgba($nta-brown, 0) 100%);
}

#covertitle>h1 {
    margin: 0;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: $white;
    text-shadow: 1px 1px 2px $black;
}

#coversubtitle {
    margin: 0;
    color: $white;
    text-transform: lowercase;
    letter-spacing: 0.5rem;
    padding-bottom: 0.25rem;
    text-shadow: 1px 1px 2px $black;
}

// On not-small screens, 21x9
@include media-breakpoint-up(md) {
    #cover {
        width: 100vw;
        height: 42.857143vw;
    }

    #covermon {
        width: 20vw;
        top: 5%;
        transform: translate(-50%, 0);
    }

    #covertitle {
        width: 90vw;
        bottom: initial;
        top: 30vw;
        transform: translate(-50%, 0%);
    }
}

// Dojo Cho Message

div.container.dojocho {
    //background: rgba($nta-dark-blue, 0.1);
    background-color: rgba($nta-blue, 0.25);
    padding: 1rem;
}

img.dojocho {
    width: 25%;
}

div.dojocho.content {
    //width: 100%;
    //background-color: green;
}

@include media-breakpoint-up(md) {
    img.dojocho {
        width: 100%;
    }
}

// Divider
div.divider {
    color: $nta-dark-brown;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
    }

    &::before {
        background: linear-gradient(to right, rgba($nta-dark-brown, 0), $nta-dark-brown);
        margin-right: 0.5rem;
    }

    &::after {
        background: linear-gradient(to left, rgba($nta-dark-brown, 0), $nta-dark-brown);
        margin-left: 0.5rem;
    }
}

div.divider>img {
    height: 40px;
    width: auto;
}
