$font-family-sans-serif: 'Montserrat',
system-ui,
-apple-system,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
"Liberation Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji" !default;

//$font-family-serif: 'Libre Baskerville', serif;
$font-family-serif: 'Cardo', serif;
$headings-font-family: $font-family-serif;
$headings-font-weight: 400;

$nta-blue: rgb(28, 45, 82);
$nta-brown: rgb(141, 99, 70);
$nta-dark-brown: darken($nta-brown, 25);
$nta-light-brown: lighten($nta-brown, 50);
$nta-brown-trans: rgba($nta-brown, 0.15);
$nta-medium-brown: lighten($nta-brown, 75);
$nta-blue-trans: rgba($nta-blue, 0.15);
$nta-dark-blue: darken($nta-blue, 10);
$nta-heather: rgb(200, 203, 163);
$nta-light-blue: lighten($nta-blue, 20);

//$body-bg: rgb(141, 99, 70, 0.2);
$body-bg: rgba($nta-heather, 0.2);
$body-color: $nta-dark-brown;

$primary: lighten($nta-blue, 30);
$link-shade-percentage: 30;

$headings-color: $nta-blue;