{{ define "main" }}

<div class="container mt-4">
  <div class="row">
    <div class="col">
      {{ .Content }}
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row row-cols-2 row-cols-md-3">
    {{ with .Param "dues" }}
    {{ range . }}
      <div class="col p-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">
              {{ .title }}
            </h4>
            <div class="card-text text-center">
              <div class="dues-amount rounded fs-2 m-2 p-2">
                ${{ .amount }}
              </div>
              <div>
              {{ .description | markdownify }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
    {{ end }}
  </div>
</div>

{{ end }}