{{ define "main" }}

<div class="container dojocho roundoff mt-4 shadow">
    <div class="row align-items-center">
        <div class="col col-10 text-center text-md-start lead text-serif">
            {{ .Content }}
        </div>
        <div class="col text-center text-md-end">
            <img style="max-width:100%; max-height: 200px;" src="/images/aikido-kanji.png.webp" alt="Aikido Kanji">
        </div>
    </div>
</div>

<div class="container mt-4 pt-4">
    <div class="row">
        <div class="col text-center text-md-start">
            <h1>O-Sensei Morihei Ueshiba <span class="subheader">founder</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col clearfix">
            <img class="roundoff float-start me-4 mb-2" style="max-width: 20%" src="morihei-ueshiba-old-aikikai.jpg.webp" alt="O-Sensei Morihei Ueshiba">
            <p>The founder of Aikido, Morihei Ueshiba, respectfully referred to as O-Sensei, was born in 1883. He was a sickly child and was more interested in academic and religious pursuits than in physical activity. Eventually, Master Ueshiba began sumo wrestling and swimming and - by his late teens - had begun studying jujitsu and kenjitsu, the Japanese sword art. In his early adulthood, O-Sensei studied many martial arts including sword, spear, the short staff, jujitsu, and principally Daito-ryu aiki-jujitsu. The distillation of these disciplines led to the ultimate formation of Aikido.</p>
            <p>From 1927, when O-Sensei was encouraged to formulate his own “Way” until his death in 1969, he carefully guided and continually refined his art. Aikido is circular, spherical, and spiraling in nature. This use of circle to deflect aggression allows one to blend with an attack and neutralize it rather than overpower the attacker using strength. The attacker is drawn into this circular movement, then harmlessly redirected. The technique can culminate in a pin, used to immobilize, or a throw that can allow one the opportunity for escape. Drawing heavily from Oriental philosophy, Aikido imposes very high moral and ethical standards on its practitioners. In O-Sensei's own words, "Aikido is not for correcting others, but for correcting one's own mind." It was his fondest wish that Aikido be used to awaken mankind to the realization that the world is one family.</p>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col text-center text-md-start">
            <h1>Morihiro Saito Shihan</h1>
        </div>
    </div>
    <div class="row">
        <div class="col clearfix">
            <img class="roundoff-reversed float-end ms-4 mb-2" style="max-width: 20%" src="saito-shihan.jpg.webp" alt="O-Sensei Morihei Ueshiba">
            <p>An Iwama native, Morihiro Saito started training in Aikido in 1946 and became not only a student, but a close confidant of O-Sensei for during the following 23 years. After the founder's passing, Morihio Saito was put in charge of the Iwama dojo and was the guardian of the Aiki-shrine until his passing in 2002. Today, he is also remembered for his books, his clear and structured way of teaching, and the organization of the huge number of techniques that comprise Iwama-Ryu Aikido.</p>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col text-center text-md-start">
            <h1>Pat Hendricks Shihan</h1>
        </div>
    </div>
    <div class="row">
        <div class="col clearfix">
            <img class="roundoff float-start me-4 mb-2" style="max-width: 20%" src="pat-shihan.jpg.webp" alt="O-Sensei Morihei Ueshiba">
            <p>Pat Hendricks Shihan, 7th Dan Aikikai, began her Aikido career in Monterey, California in 1975 and is currently chief instructor at Aikido of San Leandro in the Bay Area of California and the head of Division I of the Califorina Aikido Association. Pat Sensei holds the highest degree possible in Aiki Ken and Jo Certification, and is certified to test for the United States. Since 1977, she has traveled frequently to Japan for extended periods of time to study as a live-in student under the late Morihiro Saito Sensei in Iwama. In great demand as an instructor, she has taught in England, Russia, Germany, New Zealand, Japan and throughout the U.S.</p>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col text-center text-md-start">
            <h1>Russ Alvey Shihan <span class="subheader">dojo cho</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col clearfix">
            <img class="roundoff-reversed float-end ms-4 mb-2" style="max-width: 20%" src="russ-sensei-throw.jpg.webp" alt="O-Sensei Morihei Ueshiba">
            <p>North Texas Aikido’s chief instructor and founder of the dojo, Russell Alvey Shihan, has trained in and taught Aikido for  over 40 years and currently holds the rank of Rokudan (6th-degree black belt).</p>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col text-center text-md-start">
            <h1>Keith Fink Sensei <span class="subheader">instructor</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col clearfix">
            <img class="roundoff float-start me-4 mb-2" style="max-width: 20%" src="kf-sensei.webp" alt="O-Sensei Morihei Ueshiba">
            <p>Assisting Alvey Shihan, Keith Fink Sensei has trained for over 30 years and taught for over 20. He currently holds the rank of Godan (5th-degree black belt).</p>
        </div>
    </div>
</div>

{{ end }}
